* {
  margin: 0;
}

body {
  background-color: rgb(1, 27, 48);
  display:flex;
  place-items: center;
  justify-content: center;
  margin:0 auto;
  width: 100%;
  height: 100vh;
}

main {
  width:50%;
  height:80%;
  display: grid;
  gap: 1rem;
  grid-template-areas: 
  'a a a a a a b b b'
  'a a a a a a b b b'
  'a a a a a a b b b'
  'a a a a a a b b b'
  'c c c c d d d d d'
  'c c c c d d d d d'
  'c c c c e e e e e'
  'c c c c e e e e e'
  'c c c c e e e e e'
  ;
}

div {
  padding: 1rem;
}

.box-a {
  background-color:rgb(220, 73, 20);
  grid-area: a;
}

.box-b {
  background-color: rgba(255, 157, 0, 0.94);
  grid-area: b;
}

.box-c {
  background-color: rgba(2, 217, 2, 0.735);
  grid-area: c;
}

.box-d {
  background-color: rgba(87, 168, 249, 0.962);
  grid-area: d;
}

.box-e {
  background-color: rgba(90, 173, 255, 0.962);
  grid-area: e;
}
